
{% extends "layouts/base.html" %}
{% block title %} Add NAICS CLASSIFICATION {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">NAICS CLASSIFICATION</h4>
        <!-- <p class="card-description">
          Information
        </p> -->
        <form action="" method="POST" class="forms-sample">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="form-group">
            <label for="NAICS_Classification">NAICS_Classification</label>
            {% render_field form.NAICS_Classification placeholder="NAICS_Classification" class+="form-control" value=NAICS_CLASSIFICATION.NAICS_Classification %}
            <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
          </div>


    
        <button class="btn btn-primary" type="submit">Submit</button>
       
        </form>
      </div>
    </div>
  </div>

{% endblock %}