
{% extends "layouts/base.html" %}
{% block title %} Add Funder {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}
<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Funder</h4>
        <!-- <p class="card-description">
          Information
        </p> -->
        <form action="" method="POST" class="forms-sample">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="form-group">
            <label for="Funder">Funder</label>
            {% render_field form.Funder placeholder="Funder" class+="form-control" value=FUNDER.Funder %}
          </div>
          <div class="form-group">
            <label for="Funding_Level">Funding Level &nbsp;&nbsp;<a class=""  href="/fin/Add_funding_level"><i class="bi-plus-lg"></i></a></label>
            {% render_field form.Funding_Level placeholder="Funding_Level" class+="form-control" value=FUNDER.Funding_Level %}
          </div>
          <div class="form-group">
            <label for="Project_number">Project number &nbsp;&nbsp;<a class=""  href="/fin/Add_project"><i class="bi-plus-lg"></i></a></label>
            {% render_field form.Project_number placeholder="Project_number" class+="form-control" value=FUNDER.Project_number %}
            <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
          </div>


    
        <button class="btn btn-primary" type="submit">Submit</button>
       
        </form>
      </div>
    </div>
  </div>

{% endblock %}