
{% extends "layouts/base.html" %}
{% block title %} Add Funder {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Funder</h4>
        <!-- <p class="card-description">
          Information
        </p> -->
        <form action="" method="POST" class="forms-sample">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="form-group">
            <label for="Funder">Funder</label>
            {% render_field form.Funder placeholder="Funder" class+="form-control" value=FUNDER.Funder %}
          </div>
          <div class="form-group">
            <label for="Funding_Level">Funding_Level</label>
            {% render_field form.Funding_Level placeholder="Funding_Level" class+="form-control" value=FUNDER.Funding_Level %}
          </div>
          <div class="form-group">
            <label for="Project_number">Project_number</label>
            {% render_field form.Project_number placeholder="Project_number" class+="form-control" value=FUNDER.Project_number %}
          </div>


    
        <button class="btn btn-primary" type="submit">Submit</button>
       
        </form>
      </div>
    </div>
  </div>

{% endblock %}