
{% extends "layouts/base.html" %}
{% block title %} Add Resources {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Resource</h4>
        <!-- <p class="card-description">
          Information
        </p> -->
        <form action="" method="POST" class="forms-sample" id = 'myForm'>
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="form-group">
            <label for="Name_of_resource">Project number</label>
            {% render_field form.Project_number placeholder="Project_number" class+="form-control" value=RESOURCE.Project_number %}
          </div>
          <div class="form-group">
            <label for="Resource_ID">Resource position</label>
            {% render_field form.Resource_position placeholder="Resource_position" class+="form-control" value=RESOURCE.Resource_position %}
          </div>
          <div class="form-group">
            <label for="Position" >Resource select</label>
            {% render_field form.Resource_select id="specificField" onchange="jsFunction()" placeholder="Resource_select" class+="form-control" value=RESOURCE.Resource_select %}
          </div>
          <div class="form-group">
            <label for="Resource_name">Resource name</label>
            <!-- {% render_field form.Resource_name id="result" placeholder="Resource_name" class+="form-control" value=RESOURCE.Resource_name %} -->

           <select name="Resource_name" class="form-control" id ="result" value="{{ RESOURCE.Resource_name }}" placeholder="Resource name">

            </select>
            <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
          </div>


    
        <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <script>
  function jsFunction() {
  var selectBox = document.getElementById("specificField");
  var selectedValue = selectBox.options[selectBox.selectedIndex].value;
  console.log("Selected value: " + selectedValue);

  $.ajaxSetup({
    headers: {"X-CSRFToken": '{{csrf_token}}'}
});

if (selectedValue == "FACULTY")
{
alert('Requesting Faculty name list')

$.ajax({
            type: "GET",
            url: "/fin/Faculty_dropdown_update/",
            data: {
                'data[]': selectedValue,
            },
            success: function (data) {
              dropdown = document.getElementById('result');
              // Remove all existing options from the dropdown
              while (dropdown.options.length > 0) {
              dropdown.remove(0);
              }
              //const countriesDropDown = document.getElementById("result");
                for(let i=0; i<data.length;i++){
                  value = data[i];
                  dropdown = document.getElementById('result');
                  dropdown.options[dropdown.options.length] = new Option(value, value);
                }
            }
        });}
else{
  alert('Requesting Students name list')
  $.ajax({
            type: "GET",
            url: "/fin/Student_dropdown_update/",
            data: {
                'data[]': selectedValue,
            },
            success: function (data) {
              dropdown = document.getElementById('result');
              while (dropdown.options.length > 0) {
              dropdown.remove(0);
              }
              for(let i=0; i<data.length;i++){
                  value = data[i];
                  dropdown = document.getElementById('result');
                  dropdown.options[dropdown.options.length] = new Option(value, value);
                }
            }
        });
}
}
  </script>

{% endblock %}