
{% extends "layouts/base.html" %}
{% block title %} Add Project Partner {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}
<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Project Partner</h4>
        <!-- <p class="card-description">
          Information
        </p> -->
        <form action="" method="POST" class="forms-sample">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="form-group">
            <label for="ProjectPartnerName">Name</label>
            {% render_field form.Project_Partner placeholder="Name" class+="form-control" value=PROJECT_PARTNER.Project_Partner %}
          </div>
          <div class="form-group">
            <label for="Project_Partner_NAICS_Classification">NAICS Classification &nbsp;&nbsp;<a class=""  href="/fin/Add_naics_classification"><i class="bi-plus-lg"></i></a></label>
            {% render_field form.Project_Partner_NAICS_Classification placeholder="NAICS Classification" class+="form-control" value=PROJECT_PARTNER.Project_Partner_NAICS_Classification %}
          </div>
          <div class="form-group">
            <label for="Project_Partner_Size">Size &nbsp;&nbsp;<a class=""  href="/fin/Add_industry_size"><i class="bi-plus-lg"></i></a></label>
            {% render_field form.Project_Partner_Size placeholder="Project Partner Size" class+="form-control" value=PROJECT_PARTNER.Project_Partner_Size %}
            <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
          </div>


    
        <button class="btn btn-primary" type="submit">Submit</button>
       
        </form>
      </div>
    </div>
  </div>

{% endblock %}