
{% extends "layouts/base.html" %}
{% block title %} Add Industry Size {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Industry Size</h4>
        <!-- <p class="card-description">
          Information
        </p> -->
        <form action="" method="POST" class="forms-sample">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="form-group">
            <label for="Size">Size</label>
            {% render_field form.Size placeholder="Size" class+="form-control" value=INDUSTRY_SIZE.Size %}
          </div>


    
        <button class="btn btn-primary" type="submit">Submit</button>
       
        </form>
      </div>
    </div>
  </div>

{% endblock %}