<!-- Taxils template  -->
{% extends "layouts/base.html" %}
{% block title %} Funding Level {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/tablestyle.css">
{% endblock stylesheets %}
{% load bootstrap5 %}
{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Funding Level</h4>
            <a class="btn btn-primary"  href="/fin/Add_funding_level">&plus; Funding Level</a>
         
        <!-- <p class="card-description">
          Information
        </p> -->
        <div class="table-responsive pt-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th>
                        Funding Level
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in funding_level %}
                   
                    <tr onclick="window.location='#projects';">
                      
                        
                  
                       
                      <td>
                        <!-- <a data-bs-toggle="collapse" href="#projects" aria-expanded="false" aria-controls="ui-basic"> -->
                        {{x.Funding_Level}}
                        <!-- </a> -->
                      </td>
                    
                    </tr>
                    
                    {% endfor %}
                  </tbody>
            </table>
        </div>
      </div>
    </div>
</div>     
        
        <!-- <a class="btn btn-primary" onclick="$('#'+'{{x.id}}').toggle()">{{x.projectTitle}}</br></a> -->

{% endblock %}