{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <!-- <h3 style="text-align:center;">Welcome to Durham College</h3> -->
              <h5 style="text-align:center;">Thank you for contacting Durham college</h5>
              <!-- <div class="brand-logo">
                <img src="{{ ASSETS_ROOT }}/images/logo.svg" alt="logo">
              </div> -->
              <br><br>
              <!-- <h4 style="text-align:center;">
                Contact Us
              </h4> -->
              <h5 style="text-align:center;">You will receive confirmation mail soon.</h5>
              <br />

              
              
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
  
{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
