{% extends "layouts/base.html" %}
{% block title %} Project Details {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/tablestyle.css">
{% endblock stylesheets %}
{% load bootstrap5 %}
{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{companyName}} - Projects</h4>
        <!-- <p class="card-description">
          Information
        </p> -->
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <!-- {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %} -->
        <li  style="color: green;" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
        <div class="table-responsive pt-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th>
                        Project Id
                      </th>
                      <th>
                        Project Name
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        Action
                      </th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in projectdetails %}
                    <tr>
                      <td>
                        {{x.id}}
                      </td>
                      <td>
                        {{x.projectTitle}}
                      </td>
                      <td>
                        {{x.status}}
                      </td>
                      <td>
                        <a class="btn btn-primary"  href="/projectinfo/{{x.id}}">View Details</a>
                        <a class="btn btn-primary"  href="/changeprojectstatus/{{x.id}}/{{x.companyName_id}}">Move to Project</a>
                        <a class="btn btn-primary"  href="/projectinfoform/{{x.id}}">Project info - PI</a>
                        <a class="btn btn-primary"  href="/sendapprovalforms/{{x.id}}">Send Approval Form</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
      </div>
    </div>
</div>

       
        
        <!-- <a class="btn btn-primary" onclick="$('#'+'{{x.id}}').toggle()">{{x.projectTitle}}</br></a> -->
      
      
        
      
       
        

  

{% endblock %}