{% extends "layouts/base.html" %}
{% block title %} Project Details {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} 

<div class="col-12 grid-margin stretch-card">
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Project Details</h4>
        <!-- <p class="card-description">
          Information
        </p> -->
        <form action="/projectinfoform/{{para}}" method="post" class="forms-sample">
          {% csrf_token %}
          {% load widget_tweaks %}
          <!-- <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Company Name">
          </div> -->
          <div class="form-group">
            <label for="projectTitle">Projec Title: </label>
            {% render_field form.projectTitle placeholder="projectTitle" class+="form-control" value=projectdetails.projectTitle %}
            <!-- <input type="text" name="projectTitle" maxlength="50" class="form-control" value={{projectdetails.projectTitle}} placeholder="Projec Title" required="" id="id_projectTitle"> -->
            
          </div>

          <div class="form-group">
            <label for="companyName">Company Name</label>
            {% render_field form.companyName placeholder="Company Name" class+="form-control" value=companyName %}
          </div>

          
          
          <div class="form-group">
            <label for="projectDescription">Project Description</label>
            <textarea name="projectDescription" cols="40" rows="10" class="form-control" placeholder="Project Description" id="id_projectDescription" required>{{projectdetails.projectDescription}}</textarea>
           
          </div>

          <div class="form-group">
            <label for="projectobjectives">Describe the project main objectives </label>
            {% render_field form.projectobjectives placeholder="Project Objectives" class+="form-control" %}
          </div>
          
          <div class="form-group">
            <label for="modeofdelivery">Describe the project mode of results delivery.</label>
            {% render_field form.modeofdelivery placeholder="Mode of Delivery" class+="form-control" value=projectinfopi.modeofdelivery %}
          </div>
          
          <div class="form-group">
            <label for="riskfactors">Describe the key risk factors (Please address all that apply)  </label>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>
                            Project Stage
                          </th>
                          <th>
                            Anticipated Risk
                          </th>
                          <th>
                            Mitigation Strategy
                          </th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                            <th>Initiation</th>
                          <td>
                            {% render_field form.rf_initiation_risk class+="form-control"  value=projectinfopi.rf_initiation_risk%}
                          </td>
                          <td>
                            {% render_field form.rf_initiation_mitigation class+="form-control" value=projectinfopi.rf_initiation_mitigation%}
                          </td>
                         
                        </tr>
                        <tr>
                            <th>Implementation</th>
                          <td>
                            {% render_field form.rf_implementation_risk class+="form-control" value=projectinfopi.rf_implementation_risk%}
                          </td>
                          <td>
                            {% render_field form.rf_implementation_mitigation class+="form-control" value=projectinfopi.rf_implementation_mitigation%}
                          </td>
                         
                        </tr>
                        
                        <tr>
                            <th>Execution</th>
                          <td>
                            {% render_field form.rf_execution_risk class+="form-control" value=projectinfopi.rf_execution_risk %}
                          </td>
                          <td>
                            {% render_field form.rf_execution_mitigation class+="form-control" value=projectinfopi.rf_execution_mitigation%}
                          </td>
                         
                        </tr>
                        <tr>
                            <th>Commercialization</th>
                          <td>
                            {% render_field form.rf_commercialization_risk class+="form-control" value=projectinfopi.rf_commercialization_risk%}
                          </td>
                          <td>
                            {% render_field form.rf_commercialization_mitigation class+="form-control" value=projectinfopi.rf_commercialization_mitigation %}
                          </td>
                         
                        </tr>
                        <tr>
                            <th>Scientific, Business or Environmental</th>
                          <td>
                            {% render_field form.rf_sbe_risk class+="form-control" value=projectinfopi.rf_sbe_risk%}
                          </td>
                          <td>
                            {% render_field form.rf_sbe_mitigation class+="form-control" value=projectinfopi.rf_sbe_mitigation %}
                          </td>
                         
                        </tr>
                      </tbody>
                </table>
          </div>
          
         <br> 
        <button class="btn btn-primary" type="submit">Next</button>
       
        </form>
      </div>
    </div>
  </div>

{% endblock %}