
<nav class="sidebar sidebar-offcanvas" id="sidebar">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/fin/">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <ul class="nav">
    
      <li class="nav-item nav-category">Finance</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="menu-icon mdi mdi-chart-line"></i>
          <span class="menu-title">Forms</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/fin/research_centre/"> Research Centre </a></li>
          </ul>
        </div>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/fin/project_partner/"> Project Partner </a></li>
          </ul>
        </div>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/fin/department/"> Department </a></li>
          </ul>
        </div>

        
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/fin/program/"> Program </a></li>
          </ul>
        </div>            
      </li>
                
      
        
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/fiscal_year"> Fiscal year </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/faculty/"> Faculty </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/project/"> Project </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/funder/"> Funder </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/naics_classification/"> Naics Classification </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/review/"> Review</a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/finance/"> Finance </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/student/"> Student </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/funding_level/"> Funding Level </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/industry_size/"> Industry Size </a></li>
        </ul>
      </div>            
    </li>
  
    
        
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/fin/resource/"> Resources </a></li>
        </ul>
      </div>            
    </li>
  
    
        
  

    </ul>
  </nav>
